*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #F9FAFB;
  color: #111827;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  font-family: inherit;
  cursor: pointer;
}
button:hover {
}
button:focus,
button:focus-visible {
  outline: none;
}